# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# Data files
data/

# Notebook checkpoints
*.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# IDE files
.idea/
.vscode/
